/* 头部样式 */
.nav{
    /* overflow: hidden; */
    padding-top: 5px;
    border-top: 4px solid #CF0410;
}
.phone-btn{
    float: left;
    width: 20px;
    margin-top: 22px;
    margin-left: 10px;
    display: none;
}
.phone-btn img{
    width: 100%;
}
.nav h1{
    float: left;
}
.nav h1 img{
    width: 368px;
    margin-top: -4px;
}
.nav-inner{
    float: right;
}
.nav-inner div{
    display: inline-block;
}
.lan-switch{
    font-size: 13px;
    margin-right: 20px;
}
.nav-search input{
    padding: 9px 15px;
    border: none;
    border-radius: 2px;
    background: #EEEEEE;
    outline: none;
}
.nav-search img{
    width: 18px;
    height: 18px;
    margin-left: -35px;
    vertical-align: sub;
}

.menu{
    position: relative;
    z-index: 10;
    list-style-type: none;
    float: right;
    /* margin-top: 19px; */
}
.menu>ul>li{
    
    float: left;
    padding: 19px 16px;
    /* height: 40px; */
    text-align: center;
    /* line-height: 40px; */
    font-size: 13px;
    margin-top: 10px;
}
.menu>ul>li img{
    width: 10px;
    height: 10px;
}
.menu>ul>li:hover{
    background: #CF0410;
    color: white;
}
.current{
    background: #CF0410;
    color: white;
}
.sub-menu{
    position: absolute;
    background: white;
    /* margin-top: 5px; */
    top: 50px;
    margin-left: -16px;
    display: none;
    /* box-shadow: 0px 1px 1px rgb(131, 131, 131); */
    border: 1px solid rgb(233, 233, 233);
    border-top: 2px solid #CF0410;
}
.sub-menu>li{
    width: 120px;
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
    text-align: left;
    color: #CF0410;
}


.page-content{
    background: url('../images/foot-back.jpg') no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    padding-bottom: 30px;
}
.banner{
    background: url('../images/banner-back.jpg') 100% 100% no-repeat;
    background-size: cover;
}
.banner-list{
    list-style-type: none;
    position: relative;
    overflow: hidden;
}
.banner-list li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}
.banner-list img{
    width: 100%;
    height: 100%;
}
.banner-title{
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -300px;
}
.banner-title li{
    position: absolute;
    top: 0;
    width: 600px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: none;
}
.banner-title li h3{
    display: inline-block;
    text-align: center;
    width: 76%;
}
.banner-title li span{
    box-sizing: border-box;
    border-left: 1px solid white;
    padding-left: 15px;
    width: 21%;
    float: right;

}
.prev,.next{
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    padding: 7px 0 4px 0;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    display: none;
}
.banner:hover .prev,
.banner:hover .next{
    display: block;
}
.prev img,.next img{
    width: 100%;
}
.next{
    left: unset;
    right: 0;
}
.selector{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -45px
}
.selector li{
    float: left;
    width: 10px;
    height: 10px;
    background: #BCBCBC;
    margin-left: 5px;
    border-radius: 10px;
    cursor: pointer;

}


.news-title{
    padding: 10px 0;
    color: rgb(26, 26, 26);
}
.news-title h2{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.news-title span{
    float: right;
}
.news-content{
    color: rgb(26, 26, 26);
    border-top: 4px solid #CF0410;
}
.news-content .news-first{
    float: left;
    width: 28%;
    /* height: 280px; */
    padding-bottom: 20px;
    /* border: 1px solid black; */
    background: #EDE4D3;
}
.news-first img{
    width: 100%;
}
.news-first-content{
    margin-top: 10px;
}
.news-first-content h3{
    text-align: center;
    color: #CF0410;
    font-weight: bold;
}
.news-first-content span{
    padding: 10px 20px;
    height: 26px;
    font-size: 13px;
    color: #A9A9A9;
    display:block;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-content .news-list{
    float: right;
    width: 68%;

}
.news-content .news-list li{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #E6E6E6;
    
}
.news-content .news-list li p{
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 85%;
}
.news-content .news-list li:hover{
    color: #CF0410;
}
.news-content .news-list li span{
    float: right;
    line-height: 30px;
    margin-top: 8px;
    padding: 0 10px;
    /* padding: 10px 10px; */
    background: #EDE4D3;
    color: #CF0410;
    font-size: 16px;
    font-weight: bold;
    font-family: 'candara';
}

.sbox-list{
    margin-top: 20px;
    list-style-type: none;
}
.sbox-list li{
    position: relative;
    float: left;
    width: 33.3%;
    /* height: 290px; */
    overflow: hidden;
}
.sbox-list li img{
    width: 100%;
}
.sbox-list li div{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 60px;
    /* line-height: 60px; */
    /* vertical-align: middle; */
    text-align: center;
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.45);
    /* margin-top: -65px; */
    bottom: 4px;
    
}
.sbox-list li div span{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 40px;
}
.sbox-list li:hover div span{
    height: 80px;
}
.sbox-list li:nth-last-of-type(2):hover div span{
    height: 120px;
}
.sbox-list li:hover div{
    height: 100%;
    font-size: 50px;
    background: rgba(207, 4, 16, 0.75)
}


.page-footer{
    box-sizing: border-box;
    padding: 30px 0;
    /* margin-top: 30px; */
    width: 100%;
    background: #CF0410;
}
.foot-logo{
    float: left;
    width: 30%;
}
.foot-logo img{
    width: 100%;
    margin-left: -30px;
}
.foot-info{
    float: left;
    width: 58%;
}
.foot-address{
    float: left;
    width: 90%;
    font-size: 11px;
    color: white;
    line-height: 20px;
}
.foot-address img{
    display: inline-block;
}
.beian{
    float: left;
    margin-left: -50px;
}
.foot-code{
    float: left;
    width: 12%;
}
.foot-code img{
    width: 100%;
}
.panel {
    position: fixed;
    display: none;
    width: 220px;
    background-color: #333;
    color: #fff;
    box-shadow: inset 0 0 5px 5px #222;
}



/* 媒体查询 */
@media (max-width: 1200px) {
    .menu{
        width: 100%;
        padding: 0;
    }
    .nav-inner{
        margin-top: 35px;
    } 
}
@media (min-width: 992px) and (max-width: 1200px){
    .menu>ul>li{
        padding: 19px 0;
        width: 12.5%;
        margin-top: 0;
    }
    .sub-menu{
        margin-left: 0;
    }
}
@media (max-width: 992px){
    .news-content .news-list li span{
        padding: 0 2px;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .news .container{
        padding: 0 10px;
    }
    .nav h1{
        float: none;
        display: block;
        width: 250px;
        margin: 0 auto;
    }
    .nav h1 img{
        width: 100%;
    }
    .banner-title{
        display: none;
    }
    .nav-inner{
        display: none;
    }
    .phone-btn{
        display: block;
    }
    .menu>ul>li{
        float: none;
        padding: 10px 0;
    }
    .sub-menu{
        position: unset;
        margin: 20px 0;
        border: 0;

    }
    .news-content .news-first{
        width: 100%;
        padding: 0;
        height: auto;
    }
    .news-first img{
        width: 40%;
        float: left;
    }
    .news-first-content{
        width: 60%;
        /* margin-top: 30px; */
        float: right;
    }
    .news-content .news-list{
        width: 100%;
    }
    .sbox-list li div span{
        height: 20px;
    }
    .sbox-list li div{
        height: 40px;
        font-size: 12px;
    }
    .sbox-list li:hover div{
        font-size: 20px;
    }
    .sbox-list li:hover div span{
        height: 50px;
    }
    .sbox-list li:nth-last-of-type(2):hover div span{
        height: 80px;
    }
    .page-footer{
        padding: 0;
    }
    .foot-logo{
        width: 100%;
    }
    .foot-logo img{
        margin: 0 auto;

    }
    .foot-info{
        width: 83%;
        margin: 0px auto;
        float: none;
    }
    .beian{
        display: none;
    }
    .foot-address{
        width: 100%;
    }
    .foot-code{
        float: none;
        width: 30%;
        margin: 0 auto;
    }
    .news-first-content h3{
        font-size: 13px;
    }
    
    .prev,.next{
        display: block;
    }
    .sbox-list li{
        width: 50%;
    }
    .news-content .news-list li p{
        width: 70%;
    }
}