<!DOCTYPE html>
<html lang="en">
<head>
    <stl:include file="@/include/header.html"></stl:include>
    <link rel="stylesheet" href="{Stl.SiteUrl}/css/content.css">
    <title>CUC | {Channel.Title}</title>
</head>
<body>
    <!-- 头部开始 -->
    <stl:include file="@/include/nav.html"></stl:include>     
    <!-- 头部结束 -->
    <div class="page-content">
        <div class="article clearfloat">
            <div class="container">
                <div class="location"><stl:location> <span> > </span> </stl:location></div>
                <div class="article-content">
                    <h2>{Content.Title}</h2>
                    <span class="arts-date">
                        <span class="date-m">
                            <stl:content type="AddDate" formatString="MM"></stl:content>
                        </span>
                        <stl:content type="AddDate" formatString=" dd, yyyy"></stl:content>
                    </span>
                    <hr class="hr" />
                    <p>
                        {Content.Content}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部开始 -->
    <stl:include file="@/include/footer.html"></stl:include>                 
    <!-- 底部结束 -->
    <script>
        $('.aside-head').on('click',function(){
            $('.aside-body').stop().slideToggle(300);
        });
        var monthsInEng = ['January', 'February', 'March','April','May','June','July','August','September','October','November','December'];
        // console.log($('.date-m').text());
        var enMoth = monthsInEng[parseInt($('.date-m').text())-1];
        $('.date-m').text(enMoth);
    </script>
</body>
</html>